.navigation-bar{
    -fx-background-color:  linear-gradient(to bottom,#1CB5E0,#000046);
}
.log-out-btn{
    -fx-cursor: hand;
}
.log-out-btn:hover{
    -fx-background-color: #c0392b;
    -fx-text-fill: #fff;
}
.nav-btn{
    -fx-cursor: hand;
}
.nav-btn:hover{
    -fx-background-color: rgba(0, 0, 70, 0.13);
}
.card{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}
.left-pane{
    -fx-background-color: #B0D8DA;
}
.right-pane{
    -fx-background-color: #fff;
    -fx-background-radius: 36px 0 0 36px;
}


* {
    -fx-primary-color: #4059a9;
    -fx-secondary-color: #1CB5E0;
    -fx-light-grey-color: #d1d1d1;

    -fx-focus-color: -fx-secondary-color;
}
.date-picker{
    -fx-border-width: 1px 0 0 0;
    -fx-background-color: #4059a9;
}
.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}